
.item-menu {
  text-decoration: none;
  margin-right: 20px;
  color: #000;
	letter-spacing: .1em;
	font-size: 18px;
	line-height: 20px;
  padding: 30px 10px;
}

.logo-menu {
  text-decoration: none;
  margin-left: 20px;
  color: #000;
	letter-spacing: .1em;
	font-size: 22px;
	line-height: 25px;
  padding: 30px 10px;
  
}

a.logo-menu:hover {
  color: red;
}

.nav-item:link {
  text-decoration: none;
}

.nav-item:hover{
  color: red;
}

