
.item-menu {
  text-decoration: none;
  margin-right: 3.2%;
  color: #000;
	letter-spacing: .1em;
	font-size: 18px;
	line-height: 20px;
  padding: 12px 0;
  margin-top:1%;
}

hr{
  margin-bottom: 3%;
}

.logo-menu {
  text-decoration: none;
  margin-left: 6%;
  color: #000;
	letter-spacing: .1em;
	font-size: 22px;
	line-height: 25px;
  padding: 12px 0;
  margin-top:1%;
  
}

a.logo-menu:hover {
  color: red;
}

.nav-item:link {
  text-decoration: none;
}

.nav-item:hover{
  color: red;
}

